In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
%autosave 300

Autosaving every 300 seconds

In [2]:
executable_path = {'executable_path': '../resources/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# News

In [ ]:
url_news = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

browser.visit(url_news)

In [ ]:
html_news = browser.html
soup_news = bs(html_news, 'html.parser')

print(soup_news.prettify())

In [ ]:
news_title = soup_news.find_all('div', class_='content_title')[0].a.contents[0]
print(news_title)

In [ ]:
news_p = soup_news.find_all('div', class_='rollover_description_inner')[0].contents[0]
print(news_p)

# Image

In [ ]:
url_img = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

browser.visit(url_img)

In [ ]:
html_img = browser.html
soup_img = bs(html_img, 'html.parser')

print(soup_img.prettify())

In [ ]:
featured_image_url = (soup_img.find('article', class_='carousel_item')['style'].
                     replace("background-image: url('",'').replace("');",''))
print(featured_image_url)

In [ ]:
url_img_final = 'https://www.jpl.nasa.gov' + featured_image_url

# Twitter

In [ ]:
url_twitter = 'https://twitter.com/marswxreport?lang=en'

browser.visit(url_twitter)

In [ ]:
html_twitter = browser.html
soup_twitter = bs(html_twitter, 'html.parser')

print(soup_twitter.prettify())

In [ ]:
latest_tweets = soup_twitter.find_all('div', class_='js-tweet-text-container')

for tweet in latest_tweets: 
    weather_tweet = tweet.find('p').text
    if 'Sol' and 'low' and 'high' and 'pressure' in weather_tweet:
        tweet.find('p').a.decompose()
        weather_tweet = tweet.find('p').text
        print(weather_tweet)
        break
    else: 
        pass

# Facts

In [6]:
url_fact = 'https://space-facts.com/mars/'

mars_facts = pd.read_html(url_fact)

In [10]:
facts_df = mars_facts[0]
facts_df.head()

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [11]:
facts_df.columns = ['Description', 'Value']
facts_df.set_index('Description', inplace=True)
facts_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [13]:
facts_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Hemispheres