# Heroes of Pymoli Data Analysis

In [1]:
# Dependencies and Setup
%autosave 60
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
csv_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(csv_file)
raw = pd.read_csv(csv_file)

Autosaving every 60 seconds

## Player Count

In [2]:
# Counting the number of unique SN assumed to be ID names
player_count = pd.DataFrame(data = {'Total Players' : raw['SN'].nunique()}, index = [0])
player_count.head()

   Total Players
0            576

## Purchasing Analysis

In [3]:
# Counting the unique number of item IDs
purchase_analysis = pd.DataFrame(data = {'Number of Unique Items' : raw['Item ID'].nunique()}, index = [0])

# Taking the mean of the item purchase price
purchase_analysis['Average Purchase Price'] = raw['Price'].mean()

# Calculating the number of unique purchases
purchase_analysis['Total Number of Purchases'] = raw['Purchase ID'].nunique()

#Calculating the sum of all of the purchases
purchase_analysis['Total Revenue'] = raw['Price'].sum()

# Displaying the price as currency
purchase_analysis.style.format({'Average Purchase Price' : '${:.2f}', 'Total Revenue' : '${:,.2f}'})

## Gender Demographics

In [4]:
# Generating a data frame with the number of players group by gender
group_gender = raw.groupby('Gender')
gender_demographics = pd.DataFrame(group_gender.nunique()['SN'])
gender_demographics = gender_demographics.rename(columns = {'SN' : 'Total Count'})

# Calculating the percentage of players by gender
gender_demographics['Percentage of Players'] = (gender_demographics['Total Count']
                                                .div(gender_demographics['Total Count'].sum()) * 100)

# Sorting the number of players in descending order
gender_demographics = gender_demographics.sort_values(["Total Count"], ascending = False)

# Fisplaying the percentage as percent
gender_demographics.style.format({'Percentage of Players' : '{:.2f}%'})

## Purchasing Analysis (Gender)

In [5]:
# Generating a data frame with the number of purchases group by gender
purchasing_analysis = pd.DataFrame(group_gender.count()['Item ID'])
purchasing_analysis = purchasing_analysis.rename(columns = {'Item ID' : 'Purchase Count'})

# Calculating the average purchase price by gender
purchasing_analysis['Average Purchase Price'] = group_gender.mean()['Price']

# Calculating the Average value of the purchases by gender
purchasing_analysis['Total Purchase Value'] = group_gender.sum()['Price']

# Calculating the average total purchase per person by gender
purchasing_analysis['Avg Total Purchase per Person'] = (purchasing_analysis['Total Purchase Value'] /
                                                        gender_demographics['Total Count'])

#Displaying as currency
purchasing_analysis.style.format({'Average Purchase Price' : '${:,.2f}', 'Total Purchase Value' : '${:,.2f}',
                                 'Avg Total Purchase per Person' : '${:,.2f}'})

## Age Demographics

In [6]:
# Creating bins for age groups
bin_age = [0, 10, 15, 20, 25, 30, 35, 40, 200]
bin_label = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Adding the age groups to the original data frame
raw['Age Group'] = pd.cut(raw['Age'], bin_age, labels = bin_label, right = False)

# Creating a data frame group by the age groups
group_age = raw.groupby('Age Group')

# Generating a new data frame counting the number of unique players
age_demographics = pd.DataFrame(group_age.nunique()['SN'])

# Renaming the columns to Total Count
age_demographics = age_demographics.rename(columns = {'SN' : 'Total Count'})

# Calculating the percentage of players in each age group
age_demographics['Percentage of Players'] = (age_demographics['Total Count'] / age_demographics['Total Count'].sum() * 100)

# Displaying as percentage
age_demographics.style.format({'Percentage of Players' : '{:.2f}%'})

## Purchasing Analysis (Age)

In [7]:
# Generating initial data frame with purchase count
purchasing_analysis_age = pd.DataFrame(group_age.count()['Item ID'])
purchasing_analysis_age = purchasing_analysis_age.rename(columns = {'Item ID' : 'Purchase Count'})

# Calculating the Average Purchase Price
purchasing_analysis_age['Average Purchase Price'] = group_age.mean()['Price']

# Calculating total purchase value
purchasing_analysis_age['Total Purchase Value'] = group_age.sum()['Price']

# Calculating average total purchase per person
purchasing_analysis_age['Avg Total Purchase per Person'] = (purchasing_analysis_age['Total Purchase Value'] /
                                                            age_demographics['Total Count'])

# Displaying as currency
purchasing_analysis_age.style.format({'Average Purchase Price' : '${:,.2f}', 'Total Purchase Value' : '${:,.2f}',
                                      'Avg Total Purchase per Person' : '${:,.2f}'})

## Top Spendors

In [8]:
# Generating a df group by SN with the Purchase Count
group_sn = raw.groupby('SN')
top_spendors = pd.DataFrame(group_sn.count()['Purchase ID'])
top_spendors = top_spendors.rename(columns = {'Purchase ID' : 'Purchase Count'})

# Calculating the Average Purchase Price
top_spendors['Average Purchase Price'] = group_sn.mean()['Price']

# Calculating the Total Purchase Value
top_spendors['Total Purchase Value'] = group_sn.sum()['Price']

# Sorting the table by the Total Purchase Value and taking top 5
top_5_spendors = top_spendors.sort_values('Total Purchase Value', ascending = False).head()

# Displaying as currency
top_5_spendors.style.format({'Average Purchase Price' : '${:,.2f}', 'Total Purchase Value' : '${:,.2f}'})

## Most Popular Items

In [9]:
# Create new DF with the Item Id and name
group_item = raw.groupby(['Item ID', 'Item Name'])
popular_item = pd.DataFrame(group_item.nunique()['Purchase ID'])

# Rename to Purchase Count
popular_item = popular_item.rename(columns = {'Purchase ID' : 'Purchase Count'})

# Add Item Price columns
popular_item['Item Price'] = group_item.sum()['Price'] / popular_item['Purchase Count']

# Calculate Total Purchase Value
popular_item['Total Purchase Value'] = popular_item['Purchase Count'] * popular_item['Item Price']

# Sorting based on Total Purchase Value taking top 5
popular_item_5 = popular_item.sort_values('Purchase Count', ascending = False).head()

# Displaying as currency
popular_item_5.style.format({'Item Price' : '${:,.2f}', 'Total Purchase Value' : '${:,.2f}'})

In [10]:
# Copying df
profitable_items = popular_item

# Sorting based on Total Purchase Value taking top 5
profitable_items_5 = profitable_items.sort_values('Total Purchase Value', ascending = False).head()

# Displaying as currency
profitable_items_5.style.format({'Item Price' : '${:,.2f}', 'Total Purchase Value' : '${:,.2f}'})